@import url("https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,500,100,700,400,300,200,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-100;
    @apply min-h-screen;
  }

  ::selection {
    @apply text-white bg-indigo-500;
  }

  .btn {
    @apply inline-block px-5 py-3 rounded-lg hover:bg-indigo-600 transition duration-300 shadow-lg bg-indigo-500 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 whitespace-nowrap;
  }
}

.min-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  transition: all 500ms ease 0s !important;
}


.grid-container .react-grid-item {
  transition: all 500ms ease 0s !important;
  will-change: transform;
}

.min-container {
  opacity: 1;
  transform: none;
  will-change: transform, opacity;
}

.arrow-link:hover {
  cursor: pointer;
  transition: box-shadow 0.2s ease-out 0s;
  box-shadow: rgb(255 255 255) 0px 0px 0px 1px,
    rgb(255 255 255 / 50%) 0px 0px 0px 6px;
}

.nav li {
  cursor: pointer
}

.card {
  overflow: hidden
}
.card span {
  display: none;
}

.card:hover span {
  display: block;
}

.switch {
  width: 100px;
  height: 52px;
  display: block;
  position: relative;
  margin: 50px auto;
}

.switch__input {
  display: none;
}

.switch__background {
  border-radius: 26px;
  -webkit-box-shadow: 0 13px 26px -16px rgb(32 15 55 / 30%);
  box-shadow: 0 13px 26px -16px rgb(32 15 55 / 30%);
  -webkit-transition: box-shadow 0.8s;
  -moz-transition: box-shadow 0.8s;
  -o-transition: box-shadow 0.8s;
  -ms-transition: box-shadow 0.8s;
  transition: box-shadow 0.8s;
  overflow: hidden;
}

.switch__background,
.switch__background:before,
.switch__background:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.switch__background:before {
  content: "";
  background: #090c10;
  border-radius: 26px;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  -ms-transition: opacity 0.8s;
  transition: opacity 0.8s;
  overflow: hidden;
  z-index: -2;
}

.switch__toggle {
  content: "";
  height: 36px;
  width: 36px;
  position: relative;
  display: block;
  top: 8px;
  left: 8px;
  background: #fff;
  border-radius: 100%;
  -webkit-box-shadow: inset 8px -8px 0 #f8e3ef,
    0 0 34.666666666666664px rgb(255 255 255 / 65%);
  box-shadow: inset 8px -8px #f8e3ef,
    0 0 34.666666666666664px rgb(255 255 255 / 65%);
  -webkit-transition: left 0.8s, box-shadow 0.8s;
  -moz-transition: left 0.8s, box-shadow 0.8s;
  -o-transition: left 0.8s, box-shadow 0.8s;
  -ms-transition: left 0.8s, box-shadow 0.8s;
  transition: left 0.8s, box-shadow 0.8s;
  overflow: hidden;
  cursor: pointer;
}

.switch__toggle:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.switch__toggle:after {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.switch__toggle:before,
.switch__toggle:after {
  content: "";
  height: 90%;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: transition 0.8s, opacity 0.8s;
  -moz-transition: transition 0.8s, opacity 0.8s;
  -o-transition: transition 0.8s, opacity 0.8s;
  -ms-transition: transition 0.8s, opacity 0.8s;
  transition: transition 0.8s, opacity 0.8s;
  background: rgba(255, 255, 255, 0.65);
  filter: blur(8px);
}

.switch__stars {
  width: 3px;
  height: 3px;
  display: block;
  position: absolute;
  left: 60%;
  top: 35%;
  background: #fff;
  -webkit-box-shadow: 9px -9px 0 -3px #fff;
  box-shadow: 9px -9px 0 -3px #fff;
  filter: blur(0.5px);
  border-radius: 100%;
  -webkit-transition: -webkit-transform 0.8s, opacity 0.8s;
  -moz-transition: -moz-transform 0.8s, opacity 0.8s;
  -o-transition: -o-transform 0.8s, opacity 0.8s;
  -ms-transition: -ms-transform 0.8s, opacity 0.8s;
  transition: transform 0.8s, opacity 0.8s;
}

.switch__stars:before {
  content: "";
  width: 2px;
  height: 2px;
  display: block;
  position: absolute;
  left: 700%;
  top: 560%;
  background: #fff;
  -webkit-box-shadow: 6px -6px 0 -3px #fff;
  box-shadow: 6px -6px 0 -3px #fff;
  filter: blur(0.5px);
  border-radius: 100%;
  -webkit-transform: rotate(-75deg);
  -moz-transform: rotate(-75deg);
  -o-transform: rotate(-75deg);
  -ms-transform: rotate(-75deg);
  transform: rotate(-75deg);
  -webkit-transition: -webkit-transform 0.8s, opacity 0.8s;
  -moz-transition: -moz-transform 0.8s, opacity 0.8s;
  -o-transition: -o-transform 0.8s, opacity 0.8s;
  -ms-transition: -ms-transform 0.8s, opacity 0.8s;
  transition: transform 0.8s, opacity 0.8s;
}

.switch__stars:after {
  content: "";
  height: 1.857142857142857px;
  width: 1.857142857142857px;
  position: absolute;
  left: 200%;
  top: 260%;
  opacity: 0;
  background: -webkit-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
  background: -ms-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  filter: blur(0.5px);
  border-radius: 100%;
  -webkit-animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  -moz-animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -o-animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -ms-animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: falling-stars 6.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 3.2s;
  -moz-animation-delay: 3.2s;
  -o-animation-delay: 3.2s;
  -ms-animation-delay: 3.2s;
  animation-delay: 3.2s;
}

.switch__clouds {
  height: 10px;
  width: 10px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: -30px;
  display: block;
  -webkit-transition: 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 50% 50% 0 50%;
}

.switch__clouds:before,
.switch__clouds:after {
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  position: absolute;
  border-radius: 50% 50% 0 50%;
  left: -33%;
  bottom: 0;
  -webkit-box-shadow: inset 4px -2px 0 #f6f8f8;
  box-shadow: inset 4px -2px #f6f8f8;
}

.switch__clouds:after {
  height: 8px;
  width: 8px;
  left: auto;
  right: -30%;
  border-radius: 100%;
}
